@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

* {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

/* .placeholder-black {
  color:#262A41;
}

.bg-gray-100 {
  background: #3C3F54 0% 0% no-repeat padding-box;
} */

.entity{
  font-size: 24px;
  color: white;
  font-weight: 700;
}

.bg-primary {
  background-color: #262A41;
}

.bg-secondary {
  background-color: #F7F7FF;
}

.text-primary {
  color: #262A41;
}

.border-bcolor {
  border: 8px #30BBB5 solid;
}

.bg-blue {
  background-color:#30BBB5;
}